.article {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (min-width:768px) {
        flex-direction: row;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &__desc {
        width: auto;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;

        @media (min-width:768px) {
            padding-right: 15px;
        }

        @media (min-width:1254px) {
            padding-right: 50px;
            padding-left: 70px;
            padding-top: 80px;
            width: 462px;
        }
    }

    &__title {
        color: #333333;
        font-family: 'Playfair Display';
        font-size: 32px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 0.42px;
        position: relative;
        margin-bottom: 15px;

        @media (min-width:1254px) {
            font-size: 42px;
            margin-bottom: 45px;
        }

        &::before {
            content: attr(data-number);
            position: absolute;
            left: 0;
            top: -5px;
            color: #f9f9f9;
            z-index: -1;
            font-family: 'League-Spartan';
            font-size: 70px;
            font-weight: 700;
            line-height: 66px;
            letter-spacing: 13px;

            @media (min-width:1254px) {
                font-size: 130px;
                top: -17px;
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 23px;
            height: 2px;
            background-color: #5da8ef;
        }
    }

    &__text {
        margin-bottom: 20px;
        @extend .desc-text;

        @media (min-width:1254px) {
            margin-bottom: 60px;
        }
    }

    &__preview {
        width: 100%;
        position: relative;

        @media (min-width:768px) {
            width: 50%;
            flex: 0 0 50%;
        }

        @media (min-width:1254px) {
            width: 762px;
            flex: 0 0 762px;
            margin-bottom: 0;
        }

        &-desc {
            width: 10px;
            height: 10px;
            position: absolute;
            right: -30px;
            top: 0;

            @media(max-width:1400px) {
                right: 30px;
                top: 30px;

            }

            &-content {
                color: rgba(11, 12, 17, 0.2);
                font-family: 'League-Spartan';
                font-size: 9px;
                grid-template: 700px;
                line-height: 1;
                text-transform: uppercase;
                letter-spacing: 5.4px;
                transform: rotate(-90deg) translate(-100%, 0);
                position: absolute;
                left: 0;
                top: 0;
                transform-origin: left top;

            }
        }
    }

    &--even {
        @media(max-width:1400px) {
            right: 30px;
            top: 30px;

            .article__preview-desc-content {
                color: #fff;
            }
        }
    }

    &--odd {
        flex-direction: column-reverse;

        @media(min-width:768px) {
            flex-direction: row-reverse;
        }

        .article {
            &__preview {
                width: 100%;
                position: relative;

                @media(min-width:1254px) {
                    flex: 0 0 490px;
                    width: 490px;
                }

                &-desc {
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    right: -30px;
                    top: 0;

                    @media(max-width:1400px) {
                        right: 30px;
                        top: 30px;

                        .article__preview-desc-content {
                            color: #fff;
                        }
                    }
                }
            }

            &__desc {
                width: 100%;

                @media(min-width:768px) {
                    padding-left: 15px;
                }

                @media(min-width:1254px) {
                    width: 515px;
                    flex: 0 0 515px;
                    padding-left: 75px;
                    padding-right: 105px;
                }
            }
        }
    }
}